@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

body {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------Heading and subheading*/

.heading {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: 	#ffffff;
    padding: 20px;
    display: inline-block;
}

.sub-heading {
    text-align: center;
    color: #ffffff;
}

.grey-backdrop {
    background-color: #202123;
}

.darkblue-backdrop {
    background-color: #30555D;
}

.lightblue-backdrop {
    background-color: #5bc5d8;
    padding: 20px;
}

/*--------------------------------------------Countries*/

.country-style {
    padding: 90px;
}

.country {
    text-align: center;
    background-color: #5bc5d8;
    color: #ffffff;
    padding: 12px;
    border-radius: 50px;
    letter-spacing: 2px;
}

/*--------------------------------------------Castles*/

.castles-main {
    padding: 50px;
}

.castles {
    text-align: center;
}

.castle-styles {
    text-transform: lowercase;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    
}

.choose-castle {
    text-transform: lowercase;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: #6E7DAB;
}

/*--------------------------------------------Filters*/

.filter {
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

/*--------------------------------------------Reset*/

.reset {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.reset-button {
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    background-color: #5bc5d8;
    border-radius: 50px;
    letter-spacing: 2px;
}

/*--------------------------------------------Map*/

div#map {min-height: 600px;}

/*--------------------------------------------Form*/

.form-intro {
    color: #ffffff;
    padding-bottom: 15px;
}

.form-control {
    padding: 10px;
    margin: 10px;
}

/*--------------------------------------------Results*/

.results {
    padding: 30px;
}

/*--------------------------------------------Footer*/

.footer {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
}